logic-app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "action": {
                                "type": "string"
                            },
                            "employeeId": {
                                "type": "string"
                            },
                            "personalCode": {
                                "type": "string"
                            },
                            "employeeName": {
                                "type": "string"
                            },
                            "attendanceDate": {
                                "type": "string"
                            },
                            "startTime": {
                                "type": "string"
                            },
                            "endTime": {
                                "type": "string"
                            },
                            "workHours": {
                                "type": "number"
                            },
                            "activityType": {
                                "type": "string"
                            },
                            "schoolName": {
                                "type": "string"
                            },
                            "municipality": {
                                "type": "string"
                            },
                            "programName": {
                                "type": "string"
                            },
                            "sessionNumber": {
                                "type": "number"
                            },
                            "kilometers": {
                                "type": "number"
                            },
                            "totalExpenses": {
                                "type": "number"
                            },
                            "expensesDetails": {
                                "type": "string"
                            },
                            "notes": {
                                "type": "string"
                            },
                            "recordId": {
                                "type": "integer"
                            },
                            "employmentType": {
                                "type": "string"
                            },
                            "team": {
                                "type": "string"
                            },
                            "role": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "action"
                        ]
                    }
                }
            }
        },
        "actions": {
            "Set_CORS_Headers": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "corsHeaders",
                            "type": "object",
                            "value": {
                                "Access-Control-Allow-Origin": "*",
                                "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                                "Access-Control-Allow-Headers": "Content-Type, Accept",
                                "Content-Type": "application/json"
                            }
                        }
                    ]
                },
                "runAfter": {}
            },
            "Check_If_Action_Exists": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['action']",
                                    null
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Switch_Action": {
                        "type": "Switch",
                        "expression": "@triggerBody()?['action']",
                        "default": {
                            "actions": {
                                "Response_Unknown_Action": {
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "statusCode": 400,
                                        "headers": "@variables('corsHeaders')",
                                        "body": {
                                            "success": false,
                                            "message": "Unknown action",
                                            "receivedAction": "@{triggerBody()?['action']}"
                                        }
                                    }
                                }
                            }
                        },
                        "cases": {
                            "auth": {
                                "actions": {
                                    "Get_Employee": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('697f3cf6-2ed9-49ba-8a05-605d760af517'))}/items",
                                            "queries": {
                                                "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                                            }
                                        }
                                    },
                                    "Check_Employee_Found": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "greater": [
                                                        "@length(body('Get_Employee')?['value'])",
                                                        0
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Compose_Employee_Data": {
                                                "type": "Compose",
                                                "inputs": {
                                                    "employeeName": "@{first(body('Get_Employee')?['value'])?['EmployeeName']}",
                                                    "role": "@{coalesce(first(body('Get_Employee')?['value'])?['role']?['Value'], first(body('Get_Employee')?['value'])?['role'], 'instructor')}",
                                                    "team": "@{coalesce(first(body('Get_Employee')?['value'])?['Team']?['Value'], first(body('Get_Employee')?['value'])?['Team'], '')}",
                                                    "employmentType": "@{coalesce(first(body('Get_Employee')?['value'])?['EmploymentType']?['Value'], first(body('Get_Employee')?['value'])?['EmploymentType'], 'תעשיידע')}"
                                                }
                                            },
                                            "Response_Auth_Success": {
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "statusCode": 200,
                                                    "headers": "@variables('corsHeaders')",
                                                    "body": {
                                                        "success": true,
                                                        "employee": {
                                                            "employeeId": "@{first(body('Get_Employee')?['value'])?['employeeId']}",
                                                            "EmployeeName": "@{first(body('Get_Employee')?['value'])?['EmployeeName']}",
                                                            "role": "@{outputs('Compose_Employee_Data')?['role']}",
                                                            "Team": "@{outputs('Compose_Employee_Data')?['team']}",
                                                            "EmploymentType": "@{outputs('Compose_Employee_Data')?['employmentType']}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Compose_Employee_Data": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Response_Auth_Fail": {
                                                    "type": "Response",
                                                    "kind": "Http",
                                                    "inputs": {
                                                        "statusCode": 401,
                                                        "headers": "@variables('corsHeaders')",
                                                        "body": {
                                                            "success": false,
                                                            "message": "מספר עובד או קוד אישי שגויים"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Employee": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Handle_Get_Employee_Error": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 500,
                                            "headers": "@variables('corsHeaders')",
                                            "body": {
                                                "success": false,
                                                "message": "שגיאה בחיפוש עובד",
                                                "error": "@{body('Get_Employee')}"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Employee": [
                                                "Failed",
                                                "TimedOut"
                                            ]
                                        }
                                    }
                                },
                                "case": "auth"
                            },
                            "submit": {
                                "actions": {
                                    "Create_Attendance": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                        }
                                    },
                                    "Response_Submit_Success": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 200,
                                            "headers": "@variables('corsHeaders')",
                                            "body": {
                                                "success": true,
                                                "message": "הרשומה נשמרה בהצלחה",
                                                "recordId": "@body('Create_Attendance')?['ID']"
                                            }
                                        },
                                        "runAfter": {
                                            "Create_Attendance": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Handle_Submit_Error": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 500,
                                            "headers": "@variables('corsHeaders')",
                                            "body": {
                                                "success": false,
                                                "message": "שגיאה בשמירת הרשומה",
                                                "error": "@{body('Create_Attendance')}"
                                            }
                                        },
                                        "runAfter": {
                                            "Create_Attendance": [
                                                "Failed",
                                                "TimedOut"
                                            ]
                                        }
                                    }
                                },
                                "case": "submit"
                            },
                            "getHistory": {
                                "actions": {
                                    "Check_Role_Type": {
                                        "type": "If",
                                        "expression": {
                                            "or": [
                                                {
                                                    "equals": [
                                                        "@triggerBody()?['role']",
                                                        "system_admin"
                                                    ]
                                                },
                                                {
                                                    "equals": [
                                                        "@triggerBody()?['role']",
                                                        "operations_controller"
                                                    ]
                                                },
                                                {
                                                    "equals": [
                                                        "@triggerBody()?['role']",
                                                        "payroll_officer"
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Get_All_Records": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                                }
                                            },
                                            "Response_All_Records": {
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "statusCode": 200,
                                                    "headers": "@variables('corsHeaders')",
                                                    "body": {
                                                        "success": true,
                                                        "records": "@body('Get_All_Records')?['value']"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Get_All_Records": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Handle_Get_All_Error": {
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "statusCode": 500,
                                                    "headers": "@variables('corsHeaders')",
                                                    "body": {
                                                        "success": false,
                                                        "message": "שגיאה בטעינת רשומות",
                                                        "error": "@{body('Get_All_Records')}"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Get_All_Records": [
                                                        "Failed",
                                                        "TimedOut"
                                                    ]
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Check_If_Manager": {
                                                    "type": "If",
                                                    "expression": {
                                                        "equals": [
                                                            "@triggerBody()?['role']",
                                                            "manager"
                                                        ]
                                                    },
                                                    "actions": {
                                                        "Get_Team_Records": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "get",
                                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items",
                                                                "queries": {
                                                                    "$filter": "team eq '@{triggerBody()?['team']}'"
                                                                }
                                                            }
                                                        },
                                                        "Response_Team_Records": {
                                                            "type": "Response",
                                                            "kind": "Http",
                                                            "inputs": {
                                                                "statusCode": 200,
                                                                "headers": "@variables('corsHeaders')",
                                                                "body": {
                                                                    "success": true,
                                                                    "records": "@body('Get_Team_Records')?['value']"
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "Get_Team_Records": [
                                                                    "Succeeded"
                                                                ]
                                                            }
                                                        },
                                                        "Handle_Get_Team_Error": {
                                                            "type": "Response",
                                                            "kind": "Http",
                                                            "inputs": {
                                                                "statusCode": 500,
                                                                "headers": "@variables('corsHeaders')",
                                                                "body": {
                                                                    "success": false,
                                                                    "message": "שגיאה בטעינת רשומות הצוות",
                                                                    "error": "@{body('Get_Team_Records')}"
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "Get_Team_Records": [
                                                                    "Failed",
                                                                    "TimedOut"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {
                                                            "Get_User_Records": {
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "get",
                                                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items",
                                                                    "queries": {
                                                                        "$filter": "employeeId eq '@{triggerBody()?['employeeId']}'"
                                                                    }
                                                                }
                                                            },
                                                            "Response_User_Records": {
                                                                "type": "Response",
                                                                "kind": "Http",
                                                                "inputs": {
                                                                    "statusCode": 200,
                                                                    "headers": "@variables('corsHeaders')",
                                                                    "body": {
                                                                        "success": true,
                                                                        "records": "@body('Get_User_Records')?['value']"
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Get_User_Records": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            },
                                                            "Handle_Get_User_Error": {
                                                                "type": "Response",
                                                                "kind": "Http",
                                                                "inputs": {
                                                                    "statusCode": 500,
                                                                    "headers": "@variables('corsHeaders')",
                                                                    "body": {
                                                                        "success": false,
                                                                        "message": "שגיאה בטעינת רשומות משתמש",
                                                                        "error": "@{body('Get_User_Records')}"
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Get_User_Records": [
                                                                        "Failed",
                                                                        "TimedOut"
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "case": "getHistory"
                            },
                            "updateRecord": {
                                "actions": {
                                    "Update_Attendance": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "patch",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
                                        }
                                    },
                                    "Response_Update_Success": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 200,
                                            "headers": "@variables('corsHeaders')",
                                            "body": {
                                                "success": true,
                                                "message": "הרשומה עודכנה בהצלחה"
                                            }
                                        },
                                        "runAfter": {
                                            "Update_Attendance": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "case": "updateRecord"
                            },
                            "getEmployees": {
                                "actions": {
                                    "Get_All_Employees": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('697f3cf6-2ed9-49ba-8a05-605d760af517'))}/items",
                                            "queries": {
                                                "$select": "ID,employeeId,EmployeeName,EmploymentType,Team,role"
                                            }
                                        }
                                    },
                                    "Response_Employees": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 200,
                                            "headers": "@variables('corsHeaders')",
                                            "body": {
                                                "success": true,
                                                "employees": "@body('Get_All_Employees')?['value']"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_All_Employees": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Handle_Get_Employees_Error": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 500,
                                            "headers": "@variables('corsHeaders')",
                                            "body": {
                                                "success": false,
                                                "message": "שגיאה בטעינת רשימת עובדים",
                                                "error": "@{body('Get_All_Employees')}"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_All_Employees": [
                                                "Failed",
                                                "TimedOut"
                                            ]
                                        }
                                    }
                                },
                                "case": "getEmployees"
                            },
                            "deleteRecord": {
                                "actions": {
                                    "Delete_Attendance": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "delete",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
                                        }
                                    },
                                    "Response_Delete_Success": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 200,
                                            "headers": "@variables('corsHeaders')",
                                            "body": {
                                                "success": true,
                                                "message": "הרשומה נמחקה בהצלחה"
                                            }
                                        },
                                        "runAfter": {
                                            "Delete_Attendance": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "case": "deleteRecord"
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Response_Null_Action": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "headers": "@variables('corsHeaders')",
                                "body": {
                                    "success": false,
                                    "message": "No action specified"
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Set_CORS_Headers": [
                        "Succeeded"
                    ]
                }
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "sharepointonline": {
                    "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                    "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "connectionProperties": {}
                }
            }
        }
    }
}
