logic-app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "action": {
                                "type": "string"
                            },
                            "employeeId": {
                                "type": "string"
                            },
                            "personalCode": {
                                "type": "string"
                            },
                            "employeeName": {
                                "type": "string"
                            },
                            "team": {
                                "type": "string"
                            },
                            "role": {
                                "type": "string"
                            },
                            "employmentType": {
                                "type": "string"
                            },
                            "attendanceDate": {
                                "type": "string"
                            },
                            "startTime": {
                                "type": "string"
                            },
                            "endTime": {
                                "type": "string"
                            },
                            "workHours": {
                                "type": "number"
                            },
                            "activityType": {
                                "type": "string"
                            },
                            "schoolName": {
                                "type": "string"
                            },
                            "municipality": {
                                "type": "string"
                            },
                            "programName": {
                                "type": "string"
                            },
                            "sessionNumber": {
                                "type": "number"
                            },
                            "kilometers": {
                                "type": "number"
                            },
                            "totalExpenses": {
                                "type": "number"
                            },
                            "expensesDetails": {
                                "type": "string"
                            },
                            "notes": {
                                "type": "string"
                            },
                            "attachmentsNames": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "action"
                        ]
                    }
                }
            }
        },
        "actions": {
            "Initialize_CORS_Headers": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "corsHeaders",
                            "type": "object",
                            "value": {
                                "Access-Control-Allow-Origin": "*",
                                "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                                "Access-Control-Allow-Headers": "Content-Type",
                                "Content-Type": "application/json"
                            }
                        }
                    ]
                },
                "runAfter": {}
            },
            "Normalize_Action": {
                "type": "Compose",
                "inputs": "@toLower(triggerBody()?['action'])",
                "runAfter": {
                    "Initialize_CORS_Headers": [
                        "Succeeded"
                    ]
                }
            },
            "Switch_By_Action": {
                "type": "Switch",
                "expression": "@outputs('Normalize_Action')",
                "default": {
                    "actions": {
                        "Response_Unknown": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "headers": "@variables('corsHeaders')",
                                "body": {
                                    "success": false,
                                    "message": "@concat('Action not supported: ', outputs('Normalize_Action'))"
                                }
                            }
                        }
                    }
                },
                "cases": {
                    "getsummary": {
                        "actions": {
                            "Fetch_Summary_Data": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/datasets/@{encodeURIComponent(parameters('siteUrl'))}/tables/@{encodeURIComponent(parameters('attendanceListId'))}/items",
                                    "queries": {
                                        "$filter": "attendanceDate ge '@{startOfMonth(utcNow())}'",
                                        "$select": "ID,employeeId,employeeName,workHours,kilometers,team,attendanceDate,status"
                                    }
                                }
                            },
                            "Response_Summary": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": "@variables('corsHeaders')",
                                    "body": {
                                        "success": true,
                                        "records": "@body('Fetch_Summary_Data')?['value']"
                                    }
                                },
                                "runAfter": {
                                    "Fetch_Summary_Data": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "getsummary"
                    },
                    "getemployeerecords": {
                        "actions": {
                            "Fetch_Detailed_Records": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/datasets/@{encodeURIComponent(parameters('siteUrl'))}/tables/@{encodeURIComponent(parameters('attendanceListId'))}/items",
                                    "queries": {
                                        "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and attendanceDate ge '@{startOfMonth(utcNow())}'"
                                    }
                                }
                            },
                            "Response_Detailed": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": "@variables('corsHeaders')",
                                    "body": {
                                        "success": true,
                                        "records": "@body('Fetch_Detailed_Records')?['value']"
                                    }
                                },
                                "runAfter": {
                                    "Fetch_Detailed_Records": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "getemployeerecords"
                    },
                    "auth": {
                        "actions": {
                            "Find_Employee": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/datasets/@{encodeURIComponent(parameters('siteUrl'))}/tables/@{encodeURIComponent(parameters('employeesListId'))}/items",
                                    "queries": {
                                        "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                                    }
                                }
                            },
                            "Response_Auth": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": "@variables('corsHeaders')",
                                    "body": {
                                        "success": "@greater(length(body('Find_Employee')?['value']), 0)",
                                        "employee": "@first(body('Find_Employee')?['value'])"
                                    }
                                },
                                "runAfter": {
                                    "Find_Employee": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "auth"
                    },
                    "submit": {
                        "actions": {
                            "Create_Item": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/datasets/@{encodeURIComponent(parameters('siteUrl'))}/tables/@{encodeURIComponent(parameters('attendanceListId'))}/items"
                                }
                            },
                            "Response_Submit": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": "@variables('corsHeaders')",
                                    "body": {
                                        "success": true,
                                        "id": "@body('Create_Item')?['ID']"
                                    }
                                },
                                "runAfter": {
                                    "Create_Item": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "submit"
                    }
                },
                "runAfter": {
                    "Normalize_Action": [
                        "Succeeded"
                    ]
                }
            }
        },
        "parameters": {
            "siteUrl": {
                "defaultValue": "https://think365orgil.sharepoint.com/sites/taasiyeda2026",
                "type": "String"
            },
            "employeesListId": {
                "defaultValue": "697f3cf6-2ed9-49ba-8a05-605d760af517",
                "type": "String"
            },
            "attendanceListId": {
                "defaultValue": "3c3d634f-5972-4e2e-87cd-0f51ebd8fe27",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "sharepointonline": {
                    "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                    "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "connectionProperties": {}
                }
            }
        }
    }
}
