logic-app-complete.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "action": {
                                "type": "string"
                            },
                            "employeeId": {
                                "type": "string"
                            },
                            "personalCode": {
                                "type": "string"
                            },
                            "employeeName": {
                                "type": "string"
                            },
                            "attendanceDate": {
                                "type": "string"
                            },
                            "startTime": {
                                "type": "string"
                            },
                            "endTime": {
                                "type": "string"
                            },
                            "workHours": {
                                "type": "number"
                            },
                            "activityType": {
                                "type": "string"
                            },
                            "schoolName": {
                                "type": "string"
                            },
                            "municipality": {
                                "type": "string"
                            },
                            "programName": {
                                "type": "string"
                            },
                            "sessionNumber": {
                                "type": "number"
                            },
                            "kilometers": {
                                "type": "number"
                            },
                            "totalExpenses": {
                                "type": "number"
                            },
                            "expensesDetails": {
                                "type": "string"
                            },
                            "notes": {
                                "type": "string"
                            },
                            "originalAttendanceDate": {
                                "type": "string"
                            },
                            "originalStartTime": {
                                "type": "string"
                            },
                            "recordId": {
                                "type": "integer"
                            },
                            "employmentType": {
                                "type": "string"
                            },
                            "team": {
                                "type": "string"
                            },
                            "role": {
                                "type": "string"
                            },
                            "status": {
                                "type": "string"
                            },
                            "approvedBy": {
                                "type": "string"
                            },
                            "approvedDate": {
                                "type": "string"
                            },
                            "rejectReason": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "action"
                        ]
                    }
                }
            }
        },
        "actions": {
            "Switch_Action": {
                "type": "Switch",
                "expression": "@triggerBody()?['action']",
                "default": {
                    "actions": {
                        "Response_Unknown_Action": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "headers": {
                                    "Access-Control-Allow-Origin": "*"
                                },
                                "body": {
                                    "success": false,
                                    "message": "Unknown action"
                                }
                            }
                        }
                    }
                },
                "cases": {
                    "auth": {
                        "actions": {
                            "Get_Employee": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('697f3cf6-2ed9-49ba-8a05-605d760af517'))}/items",
                                    "queries": {
                                        "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                                    }
                                }
                            },
                            "Check_Employee_Found": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@length(body('Get_Employee')?['value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Response_Auth_Success": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 200,
                                            "headers": {
                                                "Access-Control-Allow-Origin": "*"
                                            },
                                            "body": {
                                                "success": true,
                                                "employeeName": "@{first(body('Get_Employee')?['value'])?['EmployeeName']}",
                                                "role": "@{first(body('Get_Employee')?['value'])?['role']?['Value']}",
                                                "team": "@{first(body('Get_Employee')?['value'])?['Team']?['Value']}",
                                                "employmentType": "@{first(body('Get_Employee')?['value'])?['EmploymentType']?['Value']}"
                                            }
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Response_Auth_Fail": {
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 401,
                                                "headers": {
                                                    "Access-Control-Allow-Origin": "*"
                                                },
                                                "body": {
                                                    "success": false,
                                                    "message": "מספר עובד או קוד אישי שגויים"
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_Employee": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "auth"
                    },
                    "submit": {
                        "actions": {
                            "Create_Attendance": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "employeeName": "@triggerBody()?['employeeName']",
                                        "employeeId": "@triggerBody()?['employeeId']",
                                        "attendanceDate": "@triggerBody()?['attendanceDate']",
                                        "startTime": "@triggerBody()?['startTime']",
                                        "endTime": "@triggerBody()?['endTime']",
                                        "activityType": "@triggerBody()?['activityType']",
                                        "schoolName": "@triggerBody()?['schoolName']",
                                        "municipality": "@triggerBody()?['municipality']",
                                        "programName": "@triggerBody()?['programName']",
                                        "sessionNumber": "@triggerBody()?['sessionNumber']",
                                        "totalExpenses": "@triggerBody()?['totalExpenses']",
                                        "workHours": "@triggerBody()?['workHours']",
                                        "kilometers": "@triggerBody()?['kilometers']",
                                        "expensesDetails": "@triggerBody()?['expensesDetails']",
                                        "notes": "@triggerBody()?['notes']",
                                        "status": "@triggerBody()?['status']",
                                        "employmentType": "@triggerBody()?['employmentType']",
                                        "team": "@triggerBody()?['team']"
                                    },
                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                }
                            },
                            "Response_Submit_Success": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": {
                                        "Access-Control-Allow-Origin": "*"
                                    },
                                    "body": {
                                        "success": true,
                                        "message": "הרשומה נשמרה בהצלחה",
                                        "recordId": "@body('Create_Attendance')?['ID']"
                                    }
                                },
                                "runAfter": {
                                    "Create_Attendance": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "submit"
                    },
                    "getHistory": {
                        "actions": {
                            "Check_Role_Type": {
                                "type": "If",
                                "expression": {
                                    "or": [
                                        {
                                            "equals": [
                                                "@triggerBody()?['role']",
                                                "system_admin"
                                            ]
                                        },
                                        {
                                            "equals": [
                                                "@triggerBody()?['role']",
                                                "operations_controller"
                                            ]
                                        },
                                        {
                                            "equals": [
                                                "@triggerBody()?['role']",
                                                "payroll_officer"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Get_All_Records": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                        }
                                    },
                                    "Response_All_Records": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 200,
                                            "headers": {
                                                "Access-Control-Allow-Origin": "*"
                                            },
                                            "body": {
                                                "success": true,
                                                "records": "@body('Get_All_Records')?['value']"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_All_Records": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Check_If_Manager": {
                                            "type": "If",
                                            "expression": {
                                                "equals": [
                                                    "@triggerBody()?['role']",
                                                    "manager"
                                                ]
                                            },
                                            "actions": {
                                                "Get_Team_Records": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items",
                                                        "queries": {
                                                            "$filter": "team eq '@{triggerBody()?['team']}'"
                                                        }
                                                    }
                                                },
                                                "Response_Team_Records": {
                                                    "type": "Response",
                                                    "kind": "Http",
                                                    "inputs": {
                                                        "statusCode": 200,
                                                        "headers": {
                                                            "Access-Control-Allow-Origin": "*"
                                                        },
                                                        "body": {
                                                            "success": true,
                                                            "records": "@body('Get_Team_Records')?['value']"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_Team_Records": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {
                                                    "Get_Own_Records": {
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                }
                                                            },
                                                            "method": "get",
                                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items",
                                                            "queries": {
                                                                "$filter": "employeeId eq '@{triggerBody()?['employeeId']}'"
                                                            }
                                                        }
                                                    },
                                                    "Response_Own_Records": {
                                                        "type": "Response",
                                                        "kind": "Http",
                                                        "inputs": {
                                                            "statusCode": 200,
                                                            "headers": {
                                                                "Access-Control-Allow-Origin": "*"
                                                            },
                                                            "body": {
                                                                "success": true,
                                                                "records": "@body('Get_Own_Records')?['value']"
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Get_Own_Records": [
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "case": "getHistory"
                    },
                    "updateRecord": {
                        "actions": {
                            "Update_Attendance": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "patch",
                                    "body": {
                                        "employeeName": "@triggerBody()?['employeeName']",
                                        "employeeId": "@triggerBody()?['employeeId']",
                                        "attendanceDate": "@triggerBody()?['attendanceDate']",
                                        "startTime": "@triggerBody()?['startTime']",
                                        "endTime": "@triggerBody()?['endTime']",
                                        "activityType": "@triggerBody()?['activityType']",
                                        "schoolName": "@triggerBody()?['schoolName']",
                                        "municipality": "@triggerBody()?['municipality']",
                                        "programName": "@triggerBody()?['programName']",
                                        "sessionNumber": "@triggerBody()?['sessionNumber']",
                                        "totalExpenses": "@triggerBody()?['totalExpenses']",
                                        "workHours": "@triggerBody()?['workHours']",
                                        "kilometers": "@triggerBody()?['kilometers']",
                                        "expensesDetails": "@triggerBody()?['expensesDetails']",
                                        "notes": "@triggerBody()?['notes']",
                                        "status": "@triggerBody()?['status']",
                                        "approvedBy": "@triggerBody()?['approvedBy']",
                                        "approvedDate": "@triggerBody()?['approvedDate']",
                                        "rejectReason": "@triggerBody()?['rejectReason']",
                                        "employmentType": "@triggerBody()?['employmentType']",
                                        "team": "@triggerBody()?['team']"
                                    },
                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
                                }
                            },
                            "Response_Update_Success": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": {
                                        "Access-Control-Allow-Origin": "*"
                                    },
                                    "body": {
                                        "success": true,
                                        "message": "הרשומה עודכנה בהצלחה"
                                    }
                                },
                                "runAfter": {
                                    "Update_Attendance": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "updateRecord"
                    },
                    "deleteRecord": {
                        "actions": {
                            "Delete_Attendance": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "delete",
                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
                                }
                            },
                            "Response_Delete_Success": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": {
                                        "Access-Control-Allow-Origin": "*"
                                    },
                                    "body": {
                                        "success": true,
                                        "message": "הרשומה נמחקה בהצלחה"
                                    }
                                },
                                "runAfter": {
                                    "Delete_Attendance": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "case": "deleteRecord"
                    }
                },
                "runAfter": {}
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "sharepointonline": {
                    "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                    "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "connectionProperties": {}
                }
            }
        }
    }
}
