logic-app.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "2.0.0.0",
    "parameters": {
      "siteUrl": {
        "type": "String",
        "defaultValue": "https://think365orgil.sharepoint.com/sites/taasiyeda2026"
      },
      "Employees": {
        "type": "String",
        "defaultValue": "Employees"
      },
      "Attendance": {
        "type": "String",
        "defaultValue": "Attendance"
      },
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST",
          "schema": {
            "type": "object",
            "properties": {
              "action": { "type": "string" },
              "employeeId": { "type": "string" },
              "personalCode": { "type": "string" },
              "employeeName": { "type": "string" },
              "attendanceDate": { "type": "string" },
              "startTime": { "type": "string" },
              "endTime": { "type": "string" },
              "workHours": { "type": "number" },
              "activityType": { "type": "string" },
              "schoolName": { "type": "string" },
              "municipality": { "type": "string" },
              "programName": { "type": "string" },
              "sessionNumber": { "type": "number" },
              "kilometers": { "type": "number" },
              "totalExpenses": { "type": "number" },
              "expensesDetails": { "type": "string" },
              "notes": { "type": "string" },
              "team": { "type": "string" }
            },
            "required": ["action"]
          }
        }
      }
    },
    "actions": {
      "Initialize_CORS_Headers": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "corsHeaders",
              "type": "object",
              "value": {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type",
                "Content-Type": "application/json"
              }
            }
          ]
        }
      },

      "Normalize_Action": {
        "type": "Compose",
        "inputs": "@toLower(coalesce(triggerBody()?['action'], ''))",
        "runAfter": {
          "Initialize_CORS_Headers": ["Succeeded"]
        }
      },

      "Switch_By_Action": {
        "type": "Switch",
        "expression": "@outputs('Normalize_Action')",
        "runAfter": {
          "Normalize_Action": ["Succeeded"]
        },
        "cases": {
          "auth": {
            "case": "auth",
            "actions": {
              "Find_Employee": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline-1']['connectionId']"
                    }
                  },
                  "method": "get",
                  "path": "/datasets/@{encodeURIComponent(parameters('siteUrl'))}/tables/@{encodeURIComponent(parameters('Employees'))}/items",
                  "queries": {
                    "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                  }
                }
              },
              "Response_Auth": {
                "type": "Response",
                "runAfter": {
                  "Find_Employee": ["Succeeded"]
                },
                "inputs": {
                  "statusCode": 200,
                  "headers": "@variables('corsHeaders')",
                  "body": {
                    "success": "@greater(length(body('Find_Employee')?['value']), 0)",
                    "employee": "@first(body('Find_Employee')?['value'])"
                  }
                }
              }
            }
          },

          "submit": {
            "case": "submit",
            "actions": {
              "Create_Item": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline-1']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/datasets/@{encodeURIComponent(parameters('siteUrl'))}/tables/@{encodeURIComponent(parameters('Attendance'))}/items",
                  "body": {
                    "employeeName": "@triggerBody()?['employeeName']",
                    "employeeId": "@triggerBody()?['employeeId']",
                    "attendanceDate": "@triggerBody()?['attendanceDate']",
                    "startTime": "@triggerBody()?['startTime']",
                    "endTime": "@triggerBody()?['endTime']",
                    "workHours": "@triggerBody()?['workHours']",
                    "activityType": "@triggerBody()?['activityType']",
                    "schoolName": "@triggerBody()?['schoolName']",
                    "municipality": "@triggerBody()?['municipality']",
                    "programName": "@triggerBody()?['programName']",
                    "sessionNumber": "@triggerBody()?['sessionNumber']",
                    "kilometers": "@triggerBody()?['kilometers']",
                    "totalExpenses": "@triggerBody()?['totalExpenses']",
                    "expensesDetails": "@triggerBody()?['expensesDetails']",
                    "notes": "@triggerBody()?['notes']",
                    "team": "@triggerBody()?['team']"
                  }
                }
              },
              "Response_Submit": {
                "type": "Response",
                "runAfter": {
                  "Create_Item": ["Succeeded"]
                },
                "inputs": {
                  "statusCode": 200,
                  "headers": "@variables('corsHeaders')",
                  "body": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "default": {
          "actions": {
            "Response_Unknown": {
              "type": "Response",
              "inputs": {
                "statusCode": 400,
                "headers": "@variables('corsHeaders')",
                "body": {
                  "success": false,
                  "message": "Unsupported action"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "sharepointonline-1": {
          "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
          "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline-1",
          "connectionName": "sharepointonline-1"
        }
      }
    }
  }
}
