logic-app-complete.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "action": {"type": "string"},
              "employeeId": {"type": "string"},
              "password": {"type": "string"},
              "role": {"type": "string"},
              "team": {"type": "string"},
              "recordId": {"type": "string"},
              "attendanceDate": {"type": "string"},
              "startTime": {"type": "string"},
              "endTime": {"type": "string"},
              "workHours": {"type": "number"},
              "activityType": {"type": "string"},
              "schoolName": {"type": "string"},
              "municipality": {"type": "string"},
              "programName": {"type": "string"},
              "sessionNumber": {"type": "string"},
              "kilometers": {"type": "number"},
              "totalExpenses": {"type": "number"},
              "expensesDetails": {"type": "string"},
              "notes": {"type": "string"},
              "employeeName": {"type": "string"},
              "employmentType": {"type": "string"}
            }
          }
        }
      }
    },
    "actions": {
      "Switch_Action": {
        "type": "Switch",
        "expression": "@triggerBody()?['action']",
        "cases": {
          "auth": {
            "case": "auth",
            "actions": {
              "Get_Employee": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                    }
                  },
                  "method": "get",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('a9d9e7ad-d6ab-4e68-80a0-6fd9f8b3a3c0'))}/items",
                  "queries": {
                    "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and password eq '@{triggerBody()?['password']}'"
                  }
                },
                "runAfter": {}
              },
              "Check_Auth_Result": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(body('Get_Employee')?['value'])",
                        0
                      ]
                    }
                  ]
                },
                "actions": {
                  "Response_Auth_Success": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "Access-Control-Allow-Origin": "*",
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "success": true,
                        "employeeId": "@{first(body('Get_Employee')?['value'])?['employeeId']}",
                        "employeeName": "@coalesce(first(body('Get_Employee')?['value'])?['employeeName']?['Value'], first(body('Get_Employee')?['value'])?['employeeName'])",
                        "role": "@coalesce(first(body('Get_Employee')?['value'])?['role']?['Value'], first(body('Get_Employee')?['value'])?['role'])",
                        "team": "@coalesce(first(body('Get_Employee')?['value'])?['team']?['Value'], first(body('Get_Employee')?['value'])?['team'])",
                        "employmentType": "@coalesce(first(body('Get_Employee')?['value'])?['employmentType']?['Value'], first(body('Get_Employee')?['value'])?['employmentType'])"
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "Response_Auth_Failed": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 401,
                        "headers": {
                          "Access-Control-Allow-Origin": "*",
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "success": false,
                          "message": "מספר עובד או סיסמה שגויים"
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {
                  "Get_Employee": ["Succeeded"]
                }
              }
            }
          },
          "getHistory": {
            "case": "getHistory",
            "actions": {
              "Get_All_Records": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                    }
                  },
                  "method": "get",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                },
                "runAfter": {}
              },
              "Check_Admin_Roles": {
                "type": "If",
                "expression": {
                  "or": [
                    {"equals": ["@triggerBody()?['role']", "system_admin"]},
                    {"equals": ["@triggerBody()?['role']", "operations_controller"]},
                    {"equals": ["@triggerBody()?['role']", "payroll_officer"]}
                  ]
                },
                "actions": {
                  "Response_All_Records": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 200,
                      "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                      "body": {"success": true, "scope": "all", "records": "@body('Get_All_Records')?['value']"}
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "Check_Team_Manager": {
                      "type": "If",
                      "expression": {"and": [{"equals": ["@triggerBody()?['role']", "manager"]}]},
                      "actions": {
                        "Filter_By_Team": {
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Get_All_Records')?['value']",
                            "where": "@equals(coalesce(item()?['team']?['Value'], item()?['team']), triggerBody()?['team'])"
                          },
                          "runAfter": {}
                        },
                        "Response_Team_Records": {
                          "type": "Response",
                          "inputs": {
                            "statusCode": 200,
                            "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                            "body": {"success": true, "scope": "team", "records": "@body('Filter_By_Team')"}
                          },
                          "runAfter": {"Filter_By_Team": ["Succeeded"]}
                        }
                      },
                      "else": {
                        "actions": {
                          "Check_Instructor": {
                            "type": "If",
                            "expression": {"and": [{"equals": ["@triggerBody()?['role']", "instructor"]}]},
                            "actions": {
                              "Filter_By_Employee": {
                                "type": "Query",
                                "inputs": {
                                  "from": "@body('Get_All_Records')?['value']",
                                  "where": "@equals(item()?['employeeId'], triggerBody()?['employeeId'])"
                                },
                                "runAfter": {}
                              },
                              "Response_Own_Records": {
                                "type": "Response",
                                "inputs": {
                                  "statusCode": 200,
                                  "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                                  "body": {"success": true, "scope": "own", "records": "@body('Filter_By_Employee')"}
                                },
                                "runAfter": {"Filter_By_Employee": ["Succeeded"]}
                              }
                            },
                            "else": {
                              "actions": {
                                "Response_Forbidden": {
                                  "type": "Response",
                                  "inputs": {
                                    "statusCode": 403,
                                    "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                                    "body": {"success": false, "forbidden": true, "message": "אין הרשאה לצפייה ברשומות"}
                                  },
                                  "runAfter": {}
                                }
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {"Get_All_Records": ["Succeeded"]}
              }
            }
          },
          "submit": {
            "case": "submit",
            "actions": {
              "Create_Attendance_Record": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {"connection": {"name": "@parameters('$connections')['sharepointonline']['connectionId']"}},
                  "method": "post",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items",
                  "body": {
                    "employeeId": "@triggerBody()?['employeeId']",
                    "employeeName": "@triggerBody()?['employeeName']",
                    "team": "@triggerBody()?['team']",
                    "attendanceDate": "@triggerBody()?['attendanceDate']",
                    "startTime": "@triggerBody()?['startTime']",
                    "endTime": "@triggerBody()?['endTime']",
                    "workHours": "@triggerBody()?['workHours']",
                    "activityType": "@triggerBody()?['activityType']",
                    "schoolName": "@triggerBody()?['schoolName']",
                    "municipality": "@triggerBody()?['municipality']",
                    "programName": "@triggerBody()?['programName']",
                    "sessionNumber": "@triggerBody()?['sessionNumber']",
                    "kilometers": "@triggerBody()?['kilometers']",
                    "totalExpenses": "@triggerBody()?['totalExpenses']",
                    "expensesDetails": "@triggerBody()?['expensesDetails']",
                    "notes": "@triggerBody()?['notes']",
                    "employmentType": "@triggerBody()?['employmentType']"
                  }
                },
                "runAfter": {}
              },
              "Response_Submit_Success": {
                "type": "Response",
                "inputs": {
                  "statusCode": 200,
                  "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                  "body": {"success": true, "message": "הרשומה נוספה בהצלחה", "recordId": "@body('Create_Attendance_Record')?['ID']"}
                },
                "runAfter": {"Create_Attendance_Record": ["Succeeded"]}
              }
            }
          },
          "updateRecord": {
            "case": "updateRecord",
            "actions": {
              "Update_Attendance_Record": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {"connection": {"name": "@parameters('$connections')['sharepointonline']['connectionId']"}},
                  "method": "patch",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}",
                  "body": {
                    "attendanceDate": "@triggerBody()?['attendanceDate']",
                    "startTime": "@triggerBody()?['startTime']",
                    "endTime": "@triggerBody()?['endTime']",
                    "workHours": "@triggerBody()?['workHours']",
                    "activityType": "@triggerBody()?['activityType']",
                    "kilometers": "@triggerBody()?['kilometers']",
                    "totalExpenses": "@triggerBody()?['totalExpenses']",
                    "notes": "@triggerBody()?['notes']"
                  }
                },
                "runAfter": {}
              },
              "Response_Update_Success": {
                "type": "Response",
                "inputs": {
                  "statusCode": 200,
                  "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                  "body": {"success": true, "message": "הרשומה עודכנה בהצלחה"}
                },
                "runAfter": {"Update_Attendance_Record": ["Succeeded"]}
              }
            }
          },
          "deleteRecord": {
            "case": "deleteRecord",
            "actions": {
              "Delete_Attendance_Record": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {"connection": {"name": "@parameters('$connections')['sharepointonline']['connectionId']"}},
                  "method": "delete",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
                },
                "runAfter": {}
              },
              "Response_Delete_Success": {
                "type": "Response",
                "inputs": {
                  "statusCode": 200,
                  "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                  "body": {"success": true, "message": "הרשומה נמחקה בהצלחה"}
                },
                "runAfter": {"Delete_Attendance_Record": ["Succeeded"]}
              }
            }
          }
        },
        "default": {
          "actions": {
            "Response_Unknown_Action": {
              "type": "Response",
              "inputs": {
                "statusCode": 400,
                "headers": {"Access-Control-Allow-Origin": "*", "Content-Type": "application/json"},
                "body": {"success": false, "message": "פעולה לא מוכרת"}
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {}
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "sharepointonline": {
          "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline"
        }
      }
    }
  }
}
