attached_assets/Pasted--definition-schema-https-schema-management-azure-com-pr_1769123794764.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "action": {
                                "type": "string"
                            },
                            "employeeId": {
                                "type": "string"
                            },
                            "personalCode": {
                                "type": "string"
                            },
                            "employeeName": {
                                "type": "string"
                            },
                            "attendanceDate": {
                                "type": "string"
                            },
                            "startTime": {
                                "type": "string"
                            },
                            "endTime": {
                                "type": "string"
                            },
                            "workHours": {
                                "type": "number"
                            },
                            "activityType": {
                                "type": "string"
                            },
                            "schoolName": {
                                "type": "string"
                            },
                            "municipality": {
                                "type": "string"
                            },
                            "programName": {
                                "type": "string"
                            },
                            "sessionNumber": {
                                "type": "number"
                            },
                            "kilometers": {
                                "type": "number"
                            },
                            "totalExpenses": {
                                "type": "number"
                            },
                            "expensesDetails": {
                                "type": "string"
                            },
                            "notes": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "action"
                        ]
                    }
                }
            }
        },
        "actions": {
            "Condition_1": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['action']",
                                "auth"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Get_items": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sharepointonline-3']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('697f3cf6-2ed9-49ba-8a05-605d760af517'))}/items",
                            "queries": {
                                "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                            }
                        }
                    },
                    "Condition": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "greaterOrEquals": [
                                        "@length(body('Get_items')?['value'])",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Response": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": {
                                        "Access-Control-Allow-Origin": "*"
                                    },
                                    "body": {
                                        "success": true,
                                        "employeeName": "@{first(body('Get_items')?['value'])?['EmployeeName']}"
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Response_1": {
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "statusCode": 401,
                                        "headers": {
                                            "Access-Control-Allow-Origin": "*"
                                        },
                                        "body": {
                                            "success": false,
                                            "message": "מספר עובד או קוד אישי שגויים"
                                        }
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_items": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Condition_3": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['action']",
                                            "submit"
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Get_items_2": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items",
                                        "queries": {
                                            "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                                        }
                                    }
                                },
                                "Condition_2": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "less": [
                                                    "@length(body('Get_items_2')?['value'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Create_item": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "employeeName": "@triggerBody()?['employeeName']",
                                                    "employeeId": "@triggerBody()?['employeeId']",
                                                    "attendanceDate": "@triggerBody()?['attendanceDate']",
                                                    "startTime": "@triggerBody()?['startTime']",
                                                    "endTime": "@triggerBody()?['endTime']",
                                                    "activityType": "@triggerBody()?['activityType']",
                                                    "schoolName": "@triggerBody()?['schoolName']",
                                                    "municipality": "@triggerBody()?['municipality']",
                                                    "programName": "@triggerBody()?['programName']",
                                                    "sessionNumber": "@triggerBody()?['sessionNumber']",
                                                    "totalExpenses": "@triggerBody()?['totalExpenses']",
                                                    "workHours": "@triggerBody()?['workHours']",
                                                    "kilometers": "@triggerBody()?['kilometers']",
                                                    "expensesDetails": "@triggerBody()?['expensesDetails']",
                                                    "notes": "@triggerBody()?['notes']",
                                                    "EmployeeLookup": "@triggerBody()?['employeeName']"
                                                },
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                            }
                                        },
                                        "Response_2": {
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 200,
                                                "headers": {
                                                    "Access-Control-Allow-Origin": "*"
                                                },
                                                "body": {
                                                    "success": true,
                                                    "message": "Saved",
                                                    "status": "OK"
                                                }
                                            },
                                            "runAfter": {
                                                "Create_item": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Response_3": {
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "statusCode": 404,
                                                    "headers": {
                                                        "Access-Control-Allow-Origin": "*"
                                                    },
                                                    "body": {
                                                        "success": false,
                                                        "message": "Record already exists",
                                                        "error": "DUPLICATE_RECORD"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Get_items_2": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "else": {
                                "actions": {
                                    "Response_4": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 404,
                                            "headers": {
                                                "Access-Control-Allow-Origin": "*"
                                            },
                                            "body": {
                                                "ok": false,
                                                "message": "Action not supported"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "sharepointonline-3": {
                    "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                    "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "connectionProperties": {}
                },
                "sharepointonline": {
                    "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                    "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "connectionProperties": {}
                }
            }
        }
    }
}