attached_assets/Pasted--type-If-expression-and-not-equals--1769309991822_1769309991823.txt
{
  "type": "If",
  "expression": {
    "and": [
      {
        "not": {
          "equals": [
            "@triggerBody()?['action']",
            null
          ]
        }
      }
    ]
  },
  "actions": {
    "Switch_Action": {
      "type": "Switch",
      "expression": "@triggerBody()?['action']",
      "default": {
        "actions": {
          "Response_Unknown_Action": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 400,
              "headers": {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type"
              },
              "body": {
                "success": false,
                "message": "Unknown action"
              }
            }
          }
        }
      },
      "cases": {
        "auth": {
          "actions": {
            "Get_Employee": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sharepointonline"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('697f3cf6-2ed9-49ba-8a05-605d760af517'))}/items",
                "queries": {
                  "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                }
              }
            },
            "Check_Employee_Found": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Get_Employee')?['value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Response_Auth_Success": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Access-Control-Allow-Origin": "*"
                    },
                    "body": {
                      "success": true,
                      "employeeName": "@{first(body('Get_Employee')?['value'])?['EmployeeName']}",
                      "role": "@{first(body('Get_Employee')?['value'])?['role']?['Value']}",
                      "team": "@{first(body('Get_Employee')?['value'])?['Team']?['Value']}",
                      "employmentType": "@{first(body('Get_Employee')?['value'])?['EmploymentType']?['Value']}"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Response_Auth_Fail": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 401,
                      "headers": {
                        "Access-Control-Allow-Origin": "*"
                      },
                      "body": {
                        "success": false,
                        "message": "מספר עובד או קוד אישי שגויים"
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Employee": [
                  "Succeeded"
                ]
              }
            }
          },
          "case": "auth"
        },
        "submit": {
          "actions": {
            "Create_Attendance": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sharepointonline"
                  }
                },
                "method": "post",
                "body": {
                  "employeeName": "@triggerBody()?['employeeName']",
                  "employeeId": "@triggerBody()?['employeeId']",
                  "attendanceDate": "@triggerBody()?['attendanceDate']",
                  "startTime": "@triggerBody()?['startTime']",
                  "endTime": "@triggerBody()?['endTime']",
                  "activityType": "@triggerBody()?['activityType']",
                  "schoolName": "@triggerBody()?['schoolName']",
                  "municipality": "@triggerBody()?['municipality']",
                  "programName": "@triggerBody()?['programName']",
                  "sessionNumber": "@triggerBody()?['sessionNumber']",
                  "totalExpenses": "@triggerBody()?['totalExpenses']",
                  "workHours": "@triggerBody()?['workHours']",
                  "kilometers": "@triggerBody()?['kilometers']",
                  "expensesDetails": "@triggerBody()?['expensesDetails']",
                  "notes": "@triggerBody()?['notes']",
                  "employmentType": "@triggerBody()?['employmentType']",
                  "team": "@triggerBody()?['team']"
                },
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
              }
            },
            "Response_Submit_Success": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Access-Control-Allow-Origin": "*"
                },
                "body": {
                  "success": true,
                  "message": "הרשומה נשמרה בהצלחה",
                  "recordId": "@body('Create_Attendance')?['ID']"
                }
              },
              "runAfter": {
                "Create_Attendance": [
                  "Succeeded"
                ]
              }
            }
          },
          "case": "submit"
        },
        "getHistory": {
          "actions": {
            "Check_Role_Type": {
              "type": "If",
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@triggerBody()?['role']",
                      "system_admin"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['role']",
                      "operations_controller"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['role']",
                      "payroll_officer"
                    ]
                  }
                ]
              },
              "actions": {
                "Get_All_Records": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "referenceName": "sharepointonline"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                  }
                },
                "Transform_All_Records": {
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Get_All_Records')?['value']",
                    "select": {
                      "ID": "@item()?['ID']",
                      "employeeId": "@item()?['employeeId']",
                      "employeeName": "@item()?['employeeName']",
                      "attendanceDate": "@item()?['attendanceDate']",
                      "startTime": "@item()?['startTime']",
                      "endTime": "@item()?['endTime']",
                      "workHours": "@item()?['workHours']",
                      "activityType": "@coalesce(item()?['activityType']?['Value'], item()?['activityType'])",
                      "schoolName": "@coalesce(item()?['schoolName']?['Value'], item()?['schoolName'])",
                      "municipality": "@coalesce(item()?['municipality']?['Value'], item()?['municipality'])",
                      "programName": "@coalesce(item()?['programName']?['Value'], item()?['programName'])",
                      "sessionNumber": "@item()?['sessionNumber']",
                      "kilometers": "@item()?['kilometers']",
                      "totalExpenses": "@item()?['totalExpenses']",
                      "expensesDetails": "@item()?['expensesDetails']",
                      "notes": "@item()?['notes']",
                      "status": "@coalesce(item()?['status']?['Value'], item()?['status'])",
                      "approvedBy": "@item()?['approvedBy']",
                      "approvedDate": "@item()?['approvedDate']",
                      "rejectReason": "@item()?['rejectReason']",
                      "team": "@coalesce(item()?['team']?['Value'], item()?['Team']?['Value'], item()?['team'])",
                      "employmentType": "@coalesce(item()?['employmentType']?['Value'], item()?['EmploymentType']?['Value'], item()?['employmentType'])"
                    }
                  },
                  "runAfter": {
                    "Get_All_Records": [
                      "Succeeded"
                    ]
                  }
                },
                "Response_All_Records": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Access-Control-Allow-Origin": "*"
                    },
                    "body": {
                      "success": true,
                      "records": "@body('Transform_All_Records')"
                    }
                  },
                  "runAfter": {
                    "Transform_All_Records": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Check_If_Manager": {
                    "type": "If",
                    "expression": {
                      "equals": [
                        "@triggerBody()?['role']",
                        "manager"
                      ]
                    },
                    "actions": {
                      "Get_All_For_Team_Filter": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "referenceName": "sharepointonline"
                            }
                          },
                          "method": "get",
                          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                        }
                      },
                      "Filter_By_Team": {
                        "type": "Query",
                        "inputs": {
                          "from": "@body('Get_All_For_Team_Filter')?['value']",
                          "where": "@or(equals(item()?['team']?['Value'], triggerBody()?['team']), equals(item()?['team'], triggerBody()?['team']), equals(item()?['Team']?['Value'], triggerBody()?['team']))"
                        },
                        "runAfter": {
                          "Get_All_For_Team_Filter": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Transform_Team_Records": {
                        "type": "Select",
                        "inputs": {
                          "from": "@body('Filter_By_Team')",
                          "select": {
                            "ID": "@item()?['ID']",
                            "employeeId": "@item()?['employeeId']",
                            "employeeName": "@item()?['employeeName']",
                            "attendanceDate": "@item()?['attendanceDate']",
                            "startTime": "@item()?['startTime']",
                            "endTime": "@item()?['endTime']",
                            "workHours": "@item()?['workHours']",
                            "activityType": "@coalesce(item()?['activityType']?['Value'], item()?['activityType'])",
                            "schoolName": "@coalesce(item()?['schoolName']?['Value'], item()?['schoolName'])",
                            "municipality": "@coalesce(item()?['municipality']?['Value'], item()?['municipality'])",
                            "programName": "@coalesce(item()?['programName']?['Value'], item()?['programName'])",
                            "sessionNumber": "@item()?['sessionNumber']",
                            "kilometers": "@item()?['kilometers']",
                            "totalExpenses": "@item()?['totalExpenses']",
                            "expensesDetails": "@item()?['expensesDetails']",
                            "notes": "@item()?['notes']",
                            "status": "@coalesce(item()?['status']?['Value'], item()?['status'])",
                            "approvedBy": "@item()?['approvedBy']",
                            "approvedDate": "@item()?['approvedDate']",
                            "rejectReason": "@item()?['rejectReason']",
                            "team": "@coalesce(item()?['team']?['Value'], item()?['Team']?['Value'], item()?['team'])",
                            "employmentType": "@coalesce(item()?['employmentType']?['Value'], item()?['EmploymentType']?['Value'], item()?['employmentType'])"
                          }
                        },
                        "runAfter": {
                          "Filter_By_Team": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Response_Team_Records": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "headers": {
                            "Access-Control-Allow-Origin": "*"
                          },
                          "body": {
                            "success": true,
                            "records": "@body('Transform_Team_Records')"
                          }
                        },
                        "runAfter": {
                          "Transform_Team_Records": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Get_All_For_Own_Filter": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "referenceName": "sharepointonline"
                              }
                            },
                            "method": "get",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                          }
                        },
                        "Filter_By_EmployeeId": {
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Get_All_For_Own_Filter')?['value']",
                            "where": "@or(equals(string(item()?['employeeId']), triggerBody()?['employeeId']), equals(item()?['employeeId'], triggerBody()?['employeeId']))"
                          },
                          "runAfter": {
                            "Get_All_For_Own_Filter": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Transform_Own_Records": {
                          "type": "Select",
                          "inputs": {
                            "from": "@body('Filter_By_EmployeeId')",
                            "select": {
                              "ID": "@item()?['ID']",
                              "employeeId": "@item()?['employeeId']",
                              "employeeName": "@item()?['employeeName']",
                              "attendanceDate": "@item()?['attendanceDate']",
                              "startTime": "@item()?['startTime']",
                              "endTime": "@item()?['endTime']",
                              "workHours": "@item()?['workHours']",
                              "activityType": "@coalesce(item()?['activityType']?['Value'], item()?['activityType'])",
                              "schoolName": "@coalesce(item()?['schoolName']?['Value'], item()?['schoolName'])",
                              "municipality": "@coalesce(item()?['municipality']?['Value'], item()?['municipality'])",
                              "programName": "@coalesce(item()?['programName']?['Value'], item()?['programName'])",
                              "sessionNumber": "@item()?['sessionNumber']",
                              "kilometers": "@item()?['kilometers']",
                              "totalExpenses": "@item()?['totalExpenses']",
                              "expensesDetails": "@item()?['expensesDetails']",
                              "notes": "@item()?['notes']",
                              "status": "@coalesce(item()?['status']?['Value'], item()?['status'])",
                              "approvedBy": "@item()?['approvedBy']",
                              "approvedDate": "@item()?['approvedDate']",
                              "rejectReason": "@item()?['rejectReason']",
                              "team": "@coalesce(item()?['team']?['Value'], item()?['Team']?['Value'], item()?['team'])",
                              "employmentType": "@coalesce(item()?['employmentType']?['Value'], item()?['EmploymentType']?['Value'], item()?['employmentType'])"
                            }
                          },
                          "runAfter": {
                            "Filter_By_EmployeeId": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Response_Own_Records": {
                          "type": "Response",
                          "kind": "Http",
                          "inputs": {
                            "statusCode": 200,
                            "headers": {
                              "Access-Control-Allow-Origin": "*"
                            },
                            "body": {
                              "success": true,
                              "records": "@body('Transform_Own_Records')"
                            }
                          },
                          "runAfter": {
                            "Transform_Own_Records": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "case": "getHistory"
        },
        "updateRecord": {
          "actions": {
            "Update_Attendance": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sharepointonline"
                  }
                },
                "method": "patch",
                "body": {
                  "employeeName": "@triggerBody()?['employeeName']",
                  "employeeId": "@triggerBody()?['employeeId']",
                  "attendanceDate": "@triggerBody()?['attendanceDate']",
                  "startTime": "@triggerBody()?['startTime']",
                  "endTime": "@triggerBody()?['endTime']",
                  "activityType": "@triggerBody()?['activityType']",
                  "schoolName": "@triggerBody()?['schoolName']",
                  "municipality": "@triggerBody()?['municipality']",
                  "programName": "@triggerBody()?['programName']",
                  "sessionNumber": "@triggerBody()?['sessionNumber']",
                  "totalExpenses": "@triggerBody()?['totalExpenses']",
                  "workHours": "@triggerBody()?['workHours']",
                  "kilometers": "@triggerBody()?['kilometers']",
                  "expensesDetails": "@triggerBody()?['expensesDetails']",
                  "notes": "@triggerBody()?['notes']",
                  "employmentType": "@triggerBody()?['employmentType']",
                  "team": "@triggerBody()?['team']"
                },
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
              }
            },
            "Response_Update_Success": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Access-Control-Allow-Origin": "*"
                },
                "body": {
                  "success": true,
                  "message": "הרשומה עודכנה בהצלחה"
                }
              },
              "runAfter": {
                "Update_Attendance": [
                  "Succeeded"
                ]
              }
            }
          },
          "case": "updateRecord"
        },
        "deleteRecord": {
          "actions": {
            "Delete_Attendance": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sharepointonline"
                  }
                },
                "method": "delete",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
              }
            },
            "Response_Delete_Success": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Access-Control-Allow-Origin": "*"
                },
                "body": {
                  "success": true,
                  "message": "הרשומה נמחקה בהצלחה"
                }
              },
              "runAfter": {
                "Delete_Attendance": [
                  "Succeeded"
                ]
              }
            }
          },
          "case": "deleteRecord"
        }
      }
    }
  },
  "else": {
    "actions": {
      "Response_Null_Action": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
          },
          "body": {
            "success": false,
            "message": "No action specified"
          }
        }
      }
    }
  },
  "runAfter": {}
}