attached_assets/Pasted--apiVersion-2019-05-01-id-subscriptions-7b35da34-f8af-4_1769310805317.txt
{
    "apiVersion": "2019-05-01",
    "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Logic/workflows/attendance-auth",
    "name": "attendance-auth",
    "type": "microsoft.logic/workflows",
    "location": "israelcentral",
    "tags": {},
    "properties": {
        "provisioningState": "Succeeded",
        "createdTime": "2026-01-14T16:27:28.531Z",
        "changedTime": "2026-01-25T03:02:13.91Z",
        "state": "Enabled",
        "version": "08584322967515810603",
        "accessEndpoint": "https://prod-23.israelcentral.logic.azure.com:443/workflows/39fabd0c7a1b418286fe5ec53a720f61",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_an_HTTP_request_is_received": {
                    "type": "Request",
                    "kind": "Http",
                    "inputs": {
                        "method": "POST",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "action": {
                                    "type": "string"
                                },
                                "employeeId": {
                                    "type": "string"
                                },
                                "personalCode": {
                                    "type": "string"
                                },
                                "employeeName": {
                                    "type": "string"
                                },
                                "attendanceDate": {
                                    "type": "string"
                                },
                                "startTime": {
                                    "type": "string"
                                },
                                "endTime": {
                                    "type": "string"
                                },
                                "workHours": {
                                    "type": "number"
                                },
                                "activityType": {
                                    "type": "string"
                                },
                                "schoolName": {
                                    "type": "string"
                                },
                                "municipality": {
                                    "type": "string"
                                },
                                "programName": {
                                    "type": "string"
                                },
                                "sessionNumber": {
                                    "type": "number"
                                },
                                "kilometers": {
                                    "type": "number"
                                },
                                "totalExpenses": {
                                    "type": "number"
                                },
                                "expensesDetails": {
                                    "type": "string"
                                },
                                "notes": {
                                    "type": "string"
                                },
                                "originalAttendanceDate": {
                                    "type": "string"
                                },
                                "originalStartTime": {
                                    "type": "string"
                                },
                                "recordId": {
                                    "type": "integer"
                                },
                                "employmentType": {
                                    "type": "string"
                                },
                                "team": {
                                    "type": "string"
                                },
                                "role": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "action"
                            ]
                        }
                    }
                }
            },
            "actions": {
                "Check_If_Action_Exists": {
                    "actions": {
                        "Switch_Action": {
                            "runAfter": {},
                            "cases": {
                                "auth": {
                                    "case": "auth",
                                    "actions": {
                                        "Get_Employee": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('697f3cf6-2ed9-49ba-8a05-605d760af517'))}/items",
                                                "queries": {
                                                    "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                                                }
                                            }
                                        },
                                        "Check_Employee_Found": {
                                            "actions": {
                                                "Response_Auth_Success": {
                                                    "type": "Response",
                                                    "kind": "Http",
                                                    "inputs": {
                                                        "statusCode": 200,
                                                        "headers": {
                                                            "Access-Control-Allow-Origin": "*"
                                                        },
                                                        "body": {
                                                            "success": true,
                                                            "employeeName": "@{first(body('Get_Employee')?['value'])?['EmployeeName']}",
                                                            "role": "@{first(body('Get_Employee')?['value'])?['role']?['Value']}",
                                                            "team": "@{first(body('Get_Employee')?['value'])?['Team']?['Value']}",
                                                            "employmentType": "@{first(body('Get_Employee')?['value'])?['EmploymentType']?['Value']}"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Get_Employee": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Response_Auth_Fail": {
                                                        "type": "Response",
                                                        "kind": "Http",
                                                        "inputs": {
                                                            "statusCode": 401,
                                                            "headers": {
                                                                "Access-Control-Allow-Origin": "*"
                                                            },
                                                            "body": {
                                                                "success": false,
                                                                "message": "מספר עובד או קוד אישי שגויים"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "greater": [
                                                            "@length(body('Get_Employee')?['value'])",
                                                            0
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    }
                                },
                                "submit": {
                                    "case": "submit",
                                    "actions": {
                                        "Create_Attendance": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "employeeName": "@triggerBody()?['employeeName']",
                                                    "employeeId": "@triggerBody()?['employeeId']",
                                                    "attendanceDate": "@triggerBody()?['attendanceDate']",
                                                    "startTime": "@triggerBody()?['startTime']",
                                                    "endTime": "@triggerBody()?['endTime']",
                                                    "activityType": "@triggerBody()?['activityType']",
                                                    "schoolName": "@triggerBody()?['schoolName']",
                                                    "municipality": "@triggerBody()?['municipality']",
                                                    "programName": "@triggerBody()?['programName']",
                                                    "sessionNumber": "@triggerBody()?['sessionNumber']",
                                                    "totalExpenses": "@triggerBody()?['totalExpenses']",
                                                    "workHours": "@triggerBody()?['workHours']",
                                                    "kilometers": "@triggerBody()?['kilometers']",
                                                    "expensesDetails": "@triggerBody()?['expensesDetails']",
                                                    "notes": "@triggerBody()?['notes']",
                                                    "employmentType": "@triggerBody()?['employmentType']",
                                                    "team": "@triggerBody()?['team']"
                                                },
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                            }
                                        },
                                        "Response_Submit_Success": {
                                            "runAfter": {
                                                "Create_Attendance": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 200,
                                                "headers": {
                                                    "Access-Control-Allow-Origin": "*"
                                                },
                                                "body": {
                                                    "success": true,
                                                    "message": "הרשומה נשמרה בהצלחה",
                                                    "recordId": "@body('Create_Attendance')?['ID']"
                                                }
                                            }
                                        }
                                    }
                                },
                                "getHistory": {
                                    "case": "getHistory",
                                    "actions": {
                                        "Check_Role_Type": {
                                            "actions": {
                                                "Get_All_Records": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                                    }
                                                },
                                                "Transform_All_Records": {
                                                    "runAfter": {
                                                        "Get_All_Records": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Get_All_Records')?['value']",
                                                        "select": {
                                                            "ID": "@item()?['ID']",
                                                            "employeeId": "@item()?['employeeId']",
                                                            "employeeName": "@item()?['employeeName']",
                                                            "attendanceDate": "@item()?['attendanceDate']",
                                                            "startTime": "@item()?['startTime']",
                                                            "endTime": "@item()?['endTime']",
                                                            "workHours": "@item()?['workHours']",
                                                            "activityType": "@coalesce(item()?['activityType']?['Value'], item()?['activityType'])",
                                                            "schoolName": "@coalesce(item()?['schoolName']?['Value'], item()?['schoolName'])",
                                                            "municipality": "@coalesce(item()?['municipality']?['Value'], item()?['municipality'])",
                                                            "programName": "@coalesce(item()?['programName']?['Value'], item()?['programName'])",
                                                            "sessionNumber": "@item()?['sessionNumber']",
                                                            "kilometers": "@item()?['kilometers']",
                                                            "totalExpenses": "@item()?['totalExpenses']",
                                                            "expensesDetails": "@item()?['expensesDetails']",
                                                            "notes": "@item()?['notes']",
                                                            "team": "@coalesce(item()?['team']?['Value'], item()?['Team']?['Value'], item()?['team'])",
                                                            "employmentType": "@coalesce(item()?['employmentType']?['Value'], item()?['EmploymentType']?['Value'], item()?['employmentType'])"
                                                        }
                                                    }
                                                },
                                                "Response_All_Records": {
                                                    "runAfter": {
                                                        "Transform_All_Records": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Response",
                                                    "kind": "Http",
                                                    "inputs": {
                                                        "statusCode": 200,
                                                        "headers": {
                                                            "Access-Control-Allow-Origin": "*"
                                                        },
                                                        "body": {
                                                            "success": true,
                                                            "records": "@body('Transform_All_Records')"
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {
                                                    "Check_If_Manager": {
                                                        "actions": {
                                                            "Get_All_For_Team_Filter": {
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "get",
                                                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                                                }
                                                            },
                                                            "Filter_By_Team": {
                                                                "runAfter": {
                                                                    "Get_All_For_Team_Filter": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "Query",
                                                                "inputs": {
                                                                    "from": "@body('Get_All_For_Team_Filter')?['value']",
                                                                    "where": "@or(equals(item()?['team']?['Value'], triggerBody()?['team']), equals(item()?['team'], triggerBody()?['team']), equals(item()?['Team']?['Value'], triggerBody()?['team']))"
                                                                }
                                                            },
                                                            "Transform_Team_Records": {
                                                                "runAfter": {
                                                                    "Filter_By_Team": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "Select",
                                                                "inputs": {
                                                                    "from": "@body('Filter_By_Team')",
                                                                    "select": {
                                                                        "ID": "@item()?['ID']",
                                                                        "employeeId": "@item()?['employeeId']",
                                                                        "employeeName": "@item()?['employeeName']",
                                                                        "attendanceDate": "@item()?['attendanceDate']",
                                                                        "startTime": "@item()?['startTime']",
                                                                        "endTime": "@item()?['endTime']",
                                                                        "workHours": "@item()?['workHours']",
                                                                        "activityType": "@coalesce(item()?['activityType']?['Value'], item()?['activityType'])",
                                                                        "schoolName": "@coalesce(item()?['schoolName']?['Value'], item()?['schoolName'])",
                                                                        "municipality": "@coalesce(item()?['municipality']?['Value'], item()?['municipality'])",
                                                                        "programName": "@coalesce(item()?['programName']?['Value'], item()?['programName'])",
                                                                        "sessionNumber": "@item()?['sessionNumber']",
                                                                        "kilometers": "@item()?['kilometers']",
                                                                        "totalExpenses": "@item()?['totalExpenses']",
                                                                        "expensesDetails": "@item()?['expensesDetails']",
                                                                        "notes": "@item()?['notes']",
                                                                        "team": "@coalesce(item()?['team']?['Value'], item()?['Team']?['Value'], item()?['team'])",
                                                                        "employmentType": "@coalesce(item()?['employmentType']?['Value'], item()?['EmploymentType']?['Value'], item()?['employmentType'])"
                                                                    }
                                                                }
                                                            },
                                                            "Response_Team_Records": {
                                                                "runAfter": {
                                                                    "Transform_Team_Records": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "Response",
                                                                "kind": "Http",
                                                                "inputs": {
                                                                    "statusCode": 200,
                                                                    "headers": {
                                                                        "Access-Control-Allow-Origin": "*"
                                                                    },
                                                                    "body": {
                                                                        "success": true,
                                                                        "records": "@body('Transform_Team_Records')"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "else": {
                                                            "actions": {
                                                                "Get_All_For_Own_Filter": {
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "get",
                                                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                                                    }
                                                                },
                                                                "Filter_By_EmployeeId": {
                                                                    "runAfter": {
                                                                        "Get_All_For_Own_Filter": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Query",
                                                                    "inputs": {
                                                                        "from": "@body('Get_All_For_Own_Filter')?['value']",
                                                                        "where": "@or(equals(string(item()?['employeeId']), triggerBody()?['employeeId']), equals(item()?['employeeId'], triggerBody()?['employeeId']))"
                                                                    }
                                                                },
                                                                "Transform_Own_Records": {
                                                                    "runAfter": {
                                                                        "Filter_By_EmployeeId": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Select",
                                                                    "inputs": {
                                                                        "from": "@body('Filter_By_EmployeeId')",
                                                                        "select": {
                                                                            "ID": "@item()?['ID']",
                                                                            "employeeId": "@item()?['employeeId']",
                                                                            "employeeName": "@item()?['employeeName']",
                                                                            "attendanceDate": "@item()?['attendanceDate']",
                                                                            "startTime": "@item()?['startTime']",
                                                                            "endTime": "@item()?['endTime']",
                                                                            "workHours": "@item()?['workHours']",
                                                                            "activityType": "@coalesce(item()?['activityType']?['Value'], item()?['activityType'])",
                                                                            "schoolName": "@coalesce(item()?['schoolName']?['Value'], item()?['schoolName'])",
                                                                            "municipality": "@coalesce(item()?['municipality']?['Value'], item()?['municipality'])",
                                                                            "programName": "@coalesce(item()?['programName']?['Value'], item()?['programName'])",
                                                                            "sessionNumber": "@item()?['sessionNumber']",
                                                                            "kilometers": "@item()?['kilometers']",
                                                                            "totalExpenses": "@item()?['totalExpenses']",
                                                                            "expensesDetails": "@item()?['expensesDetails']",
                                                                            "notes": "@item()?['notes']",
                                                                            "team": "@coalesce(item()?['team']?['Value'], item()?['Team']?['Value'], item()?['team'])",
                                                                            "employmentType": "@coalesce(item()?['employmentType']?['Value'], item()?['EmploymentType']?['Value'], item()?['employmentType'])"
                                                                        }
                                                                    }
                                                                },
                                                                "Response_Own_Records": {
                                                                    "runAfter": {
                                                                        "Transform_Own_Records": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Response",
                                                                    "kind": "Http",
                                                                    "inputs": {
                                                                        "statusCode": 200,
                                                                        "headers": {
                                                                            "Access-Control-Allow-Origin": "*"
                                                                        },
                                                                        "body": {
                                                                            "success": true,
                                                                            "records": "@body('Transform_Own_Records')"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "equals": [
                                                                "@triggerBody()?['role']",
                                                                "manager"
                                                            ]
                                                        },
                                                        "type": "If"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "or": [
                                                    {
                                                        "equals": [
                                                            "@triggerBody()?['role']",
                                                            "system_admin"
                                                        ]
                                                    },
                                                    {
                                                        "equals": [
                                                            "@triggerBody()?['role']",
                                                            "operations_controller"
                                                        ]
                                                    },
                                                    {
                                                        "equals": [
                                                            "@triggerBody()?['role']",
                                                            "payroll_officer"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    }
                                },
                                "updateRecord": {
                                    "case": "updateRecord",
                                    "actions": {
                                        "Update_Attendance": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method": "patch",
                                                "body": {
                                                    "employeeName": "@triggerBody()?['employeeName']",
                                                    "employeeId": "@triggerBody()?['employeeId']",
                                                    "attendanceDate": "@triggerBody()?['attendanceDate']",
                                                    "startTime": "@triggerBody()?['startTime']",
                                                    "endTime": "@triggerBody()?['endTime']",
                                                    "activityType": "@triggerBody()?['activityType']",
                                                    "schoolName": "@triggerBody()?['schoolName']",
                                                    "municipality": "@triggerBody()?['municipality']",
                                                    "programName": "@triggerBody()?['programName']",
                                                    "sessionNumber": "@triggerBody()?['sessionNumber']",
                                                    "totalExpenses": "@triggerBody()?['totalExpenses']",
                                                    "workHours": "@triggerBody()?['workHours']",
                                                    "kilometers": "@triggerBody()?['kilometers']",
                                                    "expensesDetails": "@triggerBody()?['expensesDetails']",
                                                    "notes": "@triggerBody()?['notes']",
                                                    "employmentType": "@triggerBody()?['employmentType']",
                                                    "team": "@triggerBody()?['team']"
                                                },
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
                                            }
                                        },
                                        "Response_Update_Success": {
                                            "runAfter": {
                                                "Update_Attendance": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 200,
                                                "headers": {
                                                    "Access-Control-Allow-Origin": "*"
                                                },
                                                "body": {
                                                    "success": true,
                                                    "message": "הרשומה עודכנה בהצלחה"
                                                }
                                            }
                                        }
                                    }
                                },
                                "deleteRecord": {
                                    "case": "deleteRecord",
                                    "actions": {
                                        "Delete_Attendance": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method": "delete",
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items/@{triggerBody()?['recordId']}"
                                            }
                                        },
                                        "Response_Delete_Success": {
                                            "runAfter": {
                                                "Delete_Attendance": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 200,
                                                "headers": {
                                                    "Access-Control-Allow-Origin": "*"
                                                },
                                                "body": {
                                                    "success": true,
                                                    "message": "הרשומה נמחקה בהצלחה"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {
                                    "Response_Unknown_Action": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 400,
                                            "headers": {
                                                "Access-Control-Allow-Origin": "*",
                                                "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                                                "Access-Control-Allow-Headers": "Content-Type"
                                            },
                                            "body": {
                                                "success": false,
                                                "message": "Unknown action"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": "@triggerBody()?['action']",
                            "type": "Switch"
                        }
                    },
                    "runAfter": {},
                    "else": {
                        "actions": {
                            "Response_Null_Action": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "statusCode": 200,
                                    "headers": {
                                        "Access-Control-Allow-Origin": "*",
                                        "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                                        "Access-Control-Allow-Headers": "Content-Type"
                                    },
                                    "body": {
                                        "success": false,
                                        "message": "No action specified"
                                    }
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "not": {
                                    "equals": [
                                        "@triggerBody()?['action']",
                                        null
                                    ]
                                }
                            }
                        ]
                    },
                    "type": "If"
                }
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "value": {
                    "sharepointonline": {
                        "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                        "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                        "connectionName": "sharepointonline",
                        "connectionProperties": {}
                    }
                }
            }
        },
        "endpointsConfiguration": {
            "workflow": {
                "outgoingIpAddresses": [
                    {
                        "address": "20.217.134.126"
                    },
                    {
                        "address": "20.217.129.229"
                    },
                    {
                        "address": "51.4.1.246"
                    },
                    {
                        "address": "51.4.2.73"
                    },
                    {
                        "address": "51.4.2.116"
                    },
                    {
                        "address": "51.4.2.139"
                    },
                    {
                        "address": "51.4.2.89"
                    },
                    {
                        "address": "51.4.0.146"
                    },
                    {
                        "address": "51.4.2.105"
                    },
                    {
                        "address": "51.4.2.123"
                    },
                    {
                        "address": "51.4.1.246"
                    },
                    {
                        "address": "51.4.2.73"
                    },
                    {
                        "address": "51.4.2.116"
                    },
                    {
                        "address": "51.4.2.139"
                    },
                    {
                        "address": "51.4.2.89"
                    },
                    {
                        "address": "51.4.0.146"
                    },
                    {
                        "address": "51.4.2.105"
                    },
                    {
                        "address": "51.4.2.123"
                    }
                ],
                "accessEndpointIpAddresses": [
                    {
                        "address": "51.4.2.18"
                    },
                    {
                        "address": "51.4.2.88"
                    },
                    {
                        "address": "51.4.2.119"
                    },
                    {
                        "address": "51.4.2.140"
                    },
                    {
                        "address": "51.4.2.16"
                    },
                    {
                        "address": "51.4.2.136"
                    },
                    {
                        "address": "51.4.2.186"
                    },
                    {
                        "address": "51.4.2.17"
                    },
                    {
                        "address": "51.4.2.18"
                    },
                    {
                        "address": "51.4.2.88"
                    },
                    {
                        "address": "51.4.2.119"
                    },
                    {
                        "address": "51.4.2.140"
                    },
                    {
                        "address": "51.4.2.16"
                    },
                    {
                        "address": "51.4.2.136"
                    },
                    {
                        "address": "51.4.2.186"
                    },
                    {
                        "address": "51.4.2.17"
                    }
                ]
            },
            "connector": {
                "outgoingIpAddresses": [
                    {
                        "address": "20.217.168.168"
                    },
                    {
                        "address": " 20.217.168.44"
                    }
                ]
            }
        }
    }
}