attached_assets/Pasted--apiVersion-2019-05-01-id-subscriptions-7b35da34-f8af-4_1769126256452.txt
{
    "apiVersion": "2019-05-01",
    "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Logic/workflows/attendance-auth",
    "name": "attendance-auth",
    "type": "microsoft.logic/workflows",
    "location": "israelcentral",
    "tags": {},
    "properties": {
        "provisioningState": "Succeeded",
        "createdTime": "2026-01-14T16:27:28.531Z",
        "changedTime": "2026-01-22T22:37:43.036Z",
        "state": "Enabled",
        "version": "08584324854224702320",
        "accessEndpoint": "https://prod-23.israelcentral.logic.azure.com:443/workflows/39fabd0c7a1b418286fe5ec53a720f61",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_an_HTTP_request_is_received": {
                    "type": "Request",
                    "kind": "Http",
                    "inputs": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "action": {
                                    "type": "string"
                                },
                                "employeeId": {
                                    "type": "string"
                                },
                                "personalCode": {
                                    "type": "string"
                                },
                                "employeeName": {
                                    "type": "string"
                                },
                                "attendanceDate": {
                                    "type": "string"
                                },
                                "startTime": {
                                    "type": "string"
                                },
                                "endTime": {
                                    "type": "string"
                                },
                                "workHours": {
                                    "type": "number"
                                },
                                "activityType": {
                                    "type": "string"
                                },
                                "schoolName": {
                                    "type": "string"
                                },
                                "municipality": {
                                    "type": "string"
                                },
                                "programName": {
                                    "type": "string"
                                },
                                "sessionNumber": {
                                    "type": "number"
                                },
                                "kilometers": {
                                    "type": "number"
                                },
                                "totalExpenses": {
                                    "type": "number"
                                },
                                "expensesDetails": {
                                    "type": "string"
                                },
                                "notes": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "action"
                            ]
                        }
                    }
                }
            },
            "actions": {
                "Condition_1": {
                    "actions": {
                        "Get_items": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline-3']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('697f3cf6-2ed9-49ba-8a05-605d760af517'))}/items",
                                "queries": {
                                    "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                                }
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Response": {
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "statusCode": 200,
                                        "headers": {
                                            "Access-Control-Allow-Origin": "*"
                                        },
                                        "body": {
                                            "success": true,
                                            "employeeName": "@{first(body('Get_items')?['value'])?['EmployeeName']}"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_items": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response_1": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 401,
                                            "headers": {
                                                "Access-Control-Allow-Origin": "*"
                                            },
                                            "body": {
                                                "success": false,
                                                "message": "מספר עובד או קוד אישי שגויים"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greaterOrEquals": [
                                            "@length(body('Get_items')?['value'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "runAfter": {},
                    "else": {
                        "actions": {
                            "Condition_3": {
                                "actions": {
                                    "Get_items_2": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items",
                                            "queries": {
                                                "$filter": "employeeId eq '@{triggerBody()?['employeeId']}' and personalCode eq '@{triggerBody()?['personalCode']}'"
                                            }
                                        }
                                    },
                                    "Condition_2": {
                                        "actions": {
                                            "Create_item": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                        "employeeName": "@triggerBody()?['employeeName']",
                                                        "employeeId": "@triggerBody()?['employeeId']",
                                                        "attendanceDate": "@triggerBody()?['attendanceDate']",
                                                        "startTime": "@triggerBody()?['startTime']",
                                                        "endTime": "@triggerBody()?['endTime']",
                                                        "activityType": "@triggerBody()?['activityType']",
                                                        "schoolName": "@triggerBody()?['schoolName']",
                                                        "municipality": "@triggerBody()?['municipality']",
                                                        "programName": "@triggerBody()?['programName']",
                                                        "sessionNumber": "@triggerBody()?['sessionNumber']",
                                                        "totalExpenses": "@triggerBody()?['totalExpenses']",
                                                        "workHours": "@triggerBody()?['workHours']",
                                                        "kilometers": "@triggerBody()?['kilometers']",
                                                        "expensesDetails": "@triggerBody()?['expensesDetails']",
                                                        "notes": "@triggerBody()?['notes']",
                                                        "EmployeeLookup": "@triggerBody()?['employeeName']"
                                                    },
                                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://think365orgil.sharepoint.com/sites/taasiyeda2026'))}/tables/@{encodeURIComponent(encodeURIComponent('3c3d634f-5972-4e2e-87cd-0f51ebd8fe27'))}/items"
                                                }
                                            },
                                            "Response_2": {
                                                "runAfter": {
                                                    "Create_item": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "statusCode": 200,
                                                    "headers": {
                                                        "Access-Control-Allow-Origin": "*"
                                                    },
                                                    "body": {
                                                        "success": true,
                                                        "message": "Saved",
                                                        "status": "OK"
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Get_items_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "Response_3": {
                                                    "type": "Response",
                                                    "kind": "Http",
                                                    "inputs": {
                                                        "statusCode": 404,
                                                        "headers": {
                                                            "Access-Control-Allow-Origin": "*"
                                                        },
                                                        "body": {
                                                            "success": false,
                                                            "message": "Record already exists",
                                                            "error": "DUPLICATE_RECORD"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "less": [
                                                        "@length(body('Get_items_2')?['value'])",
                                                        0
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Response_4": {
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 404,
                                                "headers": {
                                                    "Access-Control-Allow-Origin": "*"
                                                },
                                                "body": {
                                                    "ok": false,
                                                    "message": "Action not supported"
                                                }
                                            }
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@triggerBody()?['action']",
                                                "submit"
                                            ]
                                        }
                                    ]
                                },
                                "type": "If"
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@triggerBody()?['action']",
                                    "auth"
                                ]
                            }
                        ]
                    },
                    "type": "If"
                }
            }
        },
        "parameters": {
            "$connections": {
                "value": {
                    "sharepointonline-3": {
                        "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                        "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                        "connectionName": "sharepointonline",
                        "connectionProperties": {}
                    },
                    "sharepointonline": {
                        "id": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/providers/Microsoft.Web/locations/israelcentral/managedApis/sharepointonline",
                        "connectionId": "/subscriptions/7b35da34-f8af-4193-b59f-03d769307e89/resourceGroups/attendance-rg/providers/Microsoft.Web/connections/sharepointonline",
                        "connectionName": "sharepointonline",
                        "connectionProperties": {}
                    }
                }
            }
        },
        "endpointsConfiguration": {
            "workflow": {
                "outgoingIpAddresses": [
                    {
                        "address": "20.217.134.126"
                    },
                    {
                        "address": "20.217.129.229"
                    },
                    {
                        "address": "51.4.1.246"
                    },
                    {
                        "address": "51.4.2.73"
                    },
                    {
                        "address": "51.4.2.116"
                    },
                    {
                        "address": "51.4.2.139"
                    },
                    {
                        "address": "51.4.2.89"
                    },
                    {
                        "address": "51.4.0.146"
                    },
                    {
                        "address": "51.4.2.105"
                    },
                    {
                        "address": "51.4.2.123"
                    },
                    {
                        "address": "51.4.1.246"
                    },
                    {
                        "address": "51.4.2.73"
                    },
                    {
                        "address": "51.4.2.116"
                    },
                    {
                        "address": "51.4.2.139"
                    },
                    {
                        "address": "51.4.2.89"
                    },
                    {
                        "address": "51.4.0.146"
                    },
                    {
                        "address": "51.4.2.105"
                    },
                    {
                        "address": "51.4.2.123"
                    }
                ],
                "accessEndpointIpAddresses": [
                    {
                        "address": "51.4.2.18"
                    },
                    {
                        "address": "51.4.2.88"
                    },
                    {
                        "address": "51.4.2.119"
                    },
                    {
                        "address": "51.4.2.140"
                    },
                    {
                        "address": "51.4.2.16"
                    },
                    {
                        "address": "51.4.2.136"
                    },
                    {
                        "address": "51.4.2.186"
                    },
                    {
                        "address": "51.4.2.17"
                    },
                    {
                        "address": "51.4.2.18"
                    },
                    {
                        "address": "51.4.2.88"
                    },
                    {
                        "address": "51.4.2.119"
                    },
                    {
                        "address": "51.4.2.140"
                    },
                    {
                        "address": "51.4.2.16"
                    },
                    {
                        "address": "51.4.2.136"
                    },
                    {
                        "address": "51.4.2.186"
                    },
                    {
                        "address": "51.4.2.17"
                    }
                ]
            },
            "connector": {
                "outgoingIpAddresses": [
                    {
                        "address": "20.217.168.168"
                    },
                    {
                        "address": " 20.217.168.44"
                    }
                ]
            }
        }
    }
}